.formulaireConnexion * {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.formulaireConnexion {
    margin-top: 5%;
    margin-left: 29%;
    margin-right: 29%;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: black 0px 0px 2px;
}