<div class="container">
    <form method="post" action="http://localhost:4200/infos/contact">
        <label>Nom : </label>
        <input class="form-control" type="text"  placeholder="Saisissez un nom..." />
        <label>E-mail : </label>
        <input class="form-control" type="email" placeholder="Saisissez un mail..." />
        <label>Message : </label>
        <textarea class="form-control" placeholder="Saisissez un message..." rows="14"></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="inscrit" tabindex="6">
            Envoyer
        </button>
    </form>
</div>