.block {
    display: inline-block;
}

.blockJour {
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}

.blockFerme {
    background-color: rgb(233, 233, 233);
}

.blockNonFerme {
    background-color: #F6EFEF;
}